<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-valuate</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/responsive.css" rel="stylesheet">
    <link href="/stylesheets/productpagemodal.css" rel="stylesheet">

</head>
<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo">
							<ul class="nav nav-pills">
								<li><a href=""><i class=""></i></a></li> <!--insert logo in classes's ""-->
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="">
							<!--<ul class="nav navbar-nav">
								<li><a href=""><i class=""></i>Dashboard</a></li>
								<li><a href=""><i class="">Settings</i></a></li>
								<li><a href=""><i class="">Hi</i></a></li>
							</ul>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="/images/home/logo.png" alt=" "height="60" width="240"" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                <% if (user) { %>
                                <li><a href="#"><i class="fa fa-crosshairs"></i>Hi <%= user.user_name %></a></li>
                                <% } %>
								<li><a href="/"><i class="fa fa-user"></i> Home</a></li>
								<li><a href="/users/settings"><i class="fa fa-crosshairs"></i> Settings</a></li>
                                <li><a href="/dashboard"><i class="fa fa-shopping-cart"></i>Dashboard</a></li>
                                <% if(user) { %>
                                    <li><a href="/auth/logout"><i class="fa fa-lock"></i>Logout</a></li>
                                <% }else{ %>
                                    <li><a href="/auth/login"><i class="fa fa-lock"></i>Login</a></li>
                                <% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section>
		<div class="container">
		<div class="row">
		<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src=<%= image %> alt="" />

							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->

								<h2><%= prod_name %></h2>
                                <p>Auction id: <span id = "auctionid"> <%= active_auctions_id %></span> </p>

								<span>
                                    <% if (isOnAuction) {%>
                                        <span>In Auction</span>
                                    <% }else { %>
                                        <span>Not currently in auction</span>
                                    <% } %>
									<button type="button" class="btn btn-fefault cart" id="bidbtn">
										Bid On This!	</button>
                                        <!-- The Modal -->
                                            <div id="myModal" class="modal">

                                                <!-- Modal content -->
                                                  <div class="modal-content">
                                                    <div class="modal-header">

                                                      <h2>Place your bid</h2>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Please note that in the case of winning the auction, you must pay the second highest bid that was placed. Your bid is entirely anonymous. Minimum bid is INR 99. You can bid multiple times but only the highest bid placed will be considered. </p>
                                                      <input type="text"  id="enteredbid" size="305"/>
                                                      <button type="button" class="btn btn-fefault cart" id="placebidbtn"> Place bid</button>
                                                      <p id="warning"> Bid amount is lower than minimum </p>
                                                      <p id="confirmation">Your Bid has been placed</p>

                                                    </div>

                                                  </div>

                                            </div>

								</span>
                                <% if(typeof seller_name !== 'undefined'){ %>
								   <p><b>Brand:</b> <%= seller_name %></p>
                                <% } %>
                                <% if(typeof description !== 'undefined'){ %>
                                    <p><b>Description:</b><%= description %></p>
                                <% } %>
                                <% if(typeof weight !== 'undefined'){ %>
                                    <p><b>Weight:</b><%= weight %></p>
                                <% } %>
                                <% if(typeof no_of_bids !== 'undefined'){ %>
                                <p><b>Bids placed:</b><%= no_of_bids %></p>
                                <% } %>
                                <% if(typeof no_of_bids !== 'undefined'){ %>
                                    <p><b>Auction ends:</b><%= end_time %></p>
                                <% } %>
                                <% if(typeof no_of_bids !== 'undefined'){ %>
                                    <p><b>Stock:</b><%= stock %></p>
                                <% } %>
							</div><!--/product-information-->
						</div>
					</div>
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend1.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend2.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend3.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend1.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend2.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/recommend3.jpg" alt="" />
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Bid Now</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</header>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src = "/javascripts/productpagemain.js"></script>
</body>

</html>
